:root {
    --primary: rgb(238, 156, 156);
    --dark: rgb(117, 53, 42);
    --light: rgb(240, 82, 82);
    --shadow: 0 1px 5px rgb(36, 18, 51);  
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--primary);
    margin: 30px;
    line-height: 1,4;
}
.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.5rem 1.2rem;
    text-decoration: none;
}
img{
    max-width: 100%;
}
.container {
    display: grid;
    gap: 20px;
}

nav ul {
    display: grid;
    gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

nav a {
    background: var(--light);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.2rem;
    box-shadow: var(--shadow);
    transition: 0.3s;
}
nav a:hover {
    background: var(--dark);
    color: var(--light);
    transform: translateY(-2px) scale(1.1);
}

nav a:active{
    transform: translateY(3px) scale(1);
}

.main-container{
    display: grid;
    grid-template-areas:
    "showcase showcase top-box-a "
    "showcase showcase top-box-b";
    gap: 20px;
}

.showcase{
    min-height: 400px;
    padding: 3rem;
    background-image: url('../img/hellowen.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 3rem;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    grid-area: showcase;
    color: var(--primary);
}
.showcase h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--light);
}

.top-box{
    background: var(--light);
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    box-shadow: var(--shadow);
}
,.top-box .price{
    font-size: 20px;
}
.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

@media (max-width: 768px) {
    body{
        margin: 0;
    }
    nav ul {
        grid-template-columns: repeat(2, 1rf);
        gap: 5px;
    }
    .main-container{
        grid-template-areas:
        "showcase"
        "top-box-a"
        "top-box-b";
    }
}


@media (max-width: 550px) {
    nav ul {
        grid-template-columns: 1rf;
    }
    nav a{
        font-size: 1rem;
        padding: 0.3rem;
    }
    .main-container{
        grid-template-columns: 1fr;
    }
}